<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fakkudroid"
    android:versionCode="31"
    android:versionName="2.4.3" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="com.fakkudroid.core.FakkuDroidApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Sherlock.Light.DarkActionBar" >
        <activity
            android:name="com.fakkudroid.MainActivity"
            android:label="@string/app_name" 
            android:configChanges="orientation|keyboardHidden"
            >
        </activity>
        <activity
            android:name="com.fakkudroid.GallerySwipeActivity"
            android:label="@string/title_activity_gallery_swipe"
            android:theme="@style/Theme.Sherlock" >
        </activity>
        <activity
                android:name="com.androidexplorer.AndroidExplorerActivity"
                android:label="@string/title_activity_android_explorer"
                android:theme="@style/Theme.Sherlock" >
        </activity>
        <activity
                android:name="com.larswerkman.colorpicker.ColorPickerActivity"
                android:label="@string/title_activity_color_picker"
                android:theme="@style/Theme.Sherlock" >
        </activity>
        <activity
            android:name="com.fakkudroid.PreferencesActivity"
            android:label="@string/title_activity_preferences" >
        </activity>
        <activity
            android:name="com.fakkudroid.PasswordActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.fakkudroid.MessageHelpActivity"
            android:label="@string/app_name" >
        </activity>

        <service
            android:name="com.fakkudroid.service.DownloadManagerService"
            android:enabled="true"/>
    </application>

</manifest>